<div class="parent">
    <div class="div1">
        <div class="search-container">
        <form class="example-form" (ngSubmit)="submit(playerName.value)" >
            <mat-form-field style="width: 80vh;">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Player Name" #playerName>
            </mat-form-field>
        </form>
        </div>
    </div>
    <div class="div2">
        <mat-card class="card-container">
            <!-- card content here -->
             <div>'player name'</div>
             <div>'rank'</div>
             <div>'win rate'</div>
             <div>'fav champ 1'</div>
             <div>'fav champ 2'</div>

        </mat-card>
    </div>
    <div class="div3"> </div>
    <div class="div4"> </div>
    </div>